<html>

<head>
    <link href="../assets/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css">
    <link href="../assets/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js"></script>
</head>

<body ng-app="teacherApp" ng-controller="TeacherFormCtrl as formCtrl">
    <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
            <form>
                <div class="form-group">
                    <!-- <div class="col-md-3"> -->
                    <label for="firstname">First Name*</label>
                    <!-- </div> -->
                    <!-- <div class="col-md-6"> -->
                    <input class="form-control" type="text" id="firstname" placeholder="First Name" />
                    <!-- </div> -->
                </div>
                <div class="form-group">
                    <label for="lastname">Last Name*</label>
                    <input class="form-control" type="text" id="lastname" placeholder="Last Name" />
                </div>
                <div class="form-group">
                    <label for="email">Email*</label>
                    <input class="form-control" type="email" id="email" placeholder="Email" />
                </div>
                <div class="form-group">
                    <label for="number">Mobile Number*</label>
                    <input class="form-control" type="text" id="number" placeholder="Mobile Number" />
                </div>
                <div class="form-group">
                    <label for="number">Date Of Birth*</label>
                    <input class="form-control" type="date" id="number" placeholder="Mobile Number" />
                </div>
                <div class="form-group">
                    <label for="number">Gender* :</label>
                    <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> Male
                    <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"> Female
                </div>
                <div>
                    <div class="col-md-6">Board </div>
                    <div class="col-md-6">Stream </div>
                </div>
                <div class="col-md-6">
                    <select class="form-control" ng-model="formCtrl.selectedBoard" ng-change="formCtrl.onChangeBoard()">
                        <option ng-value="0" ng-if="formCtrl.selectedBoard == 0" selected="selected">Select Board</option>
                        <option ng-value="option" ng-repeat="option in formCtrl.data">
                            {{option.boardName}}
                        </option>
                    </select>
                </div>
                <div class="col-md-6">
                    <select class="form-control" ng-model="formCtrl.selectedField" ng-change="formCtrl.onChangeField()">
                        <option ng-value="0" ng-if="formCtrl.selectedField == 0" selected="selected">Select Stream</option>
                        <option ng-value="option" ng-repeat="option in formCtrl.selectedBoard.fields">
                            {{option.fieldName}}
                        </option>
                    </select>
                </div>
                <div>
                    <div class="col-md-6">Class </div>
                    <div class="col-md-6">Subject </div>
                </div>
                <div class="col-md-6">
                    <select class="form-control" ng-model="formCtrl.selectedClass" ng-change="formCtrl.onChangeClass()">
                        <option ng-value="0" ng-if="formCtrl.selectedClass == 0" selected="selected">Select Stream</option>
                        <option ng-value="option" ng-repeat="option in formCtrl.selectedField.classes">
                            {{option.className}}
                        </option>
                    </select>
                </div>
                <div class="col-md-6">
                    <select class="form-control" ng-model="formCtrl.selectedSubject" >
                        <option ng-value="0" ng-if="formCtrl.selectedSubject == 0" selected="selected">Select Subject</option>
                        <option ng-repeat="option in formCtrl.selectedClass.subjects" ng-value="option">
                            {{option.subjectName}}
                        </option>
                    </select>
                </div>
                <div class="row">
                    <button ng-click="formCtrl.addSubject()">Add</button>
                </div>
                <div>
                    <div class="row" ng-repeat="subj in formCtrl.subjectsToTeach">
                        <div class="col-md-4">{{subj.board.boardName}}</div>
                        <div class="col-md-2">{{subj.field.fieldName}}</div>
                        <div class="col-md-2">{{subj.class.className}}</div>
                        <div class="col-md-2">{{subj.subject.subjectName}}</div>
                        <div class="col-md-2"><button ng-click="formCtrl.deleteSubject($index)">delete</button></div>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-4">
        </div>
    </div>
    <script src="../assets/angularjs/angular.min.js"></script>
    <!-- <script src="../js/teacherMain.js"></script> -->
    <script src="../assets/angularboostrap/ui-bootstrap-tpls-2.5.0.min.js"></script>
    <script src="../assets/jQuery-Multiple-Select-Plugin-For-Bootstrap-Bootstrap-Multiselect/dist/js/bootstrap-multiselect.js"></script>
    <script src="../AngularApp/Modules/teacherApp.js"></script>
</body>

</html>
